In [96]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [133]:
# Ajout du fichier 
file2017 = 'Datas/VEHICULOS_PARQUE_MOVIL_2017.csv'
file2018 = 'Datas/VEHICULOS_PARQUE_MOVIL_2018.csv'
file2019 = 'Datas/VEHICULOS_PARQUE_MOVIL_2019.csv'
file2020 = 'Datas/VEHICULOS_PARQUE_MOVIL_2020.csv'
file2021 = 'Datas/VEHICULOS_PARQUE_MOVIL_2021.csv'

#Variables waiting the main function to be create on main page and called
d17 = pd.read_csv(file2017, delimiter=';')
d18 = pd.read_csv(file2018, delimiter=';')
d19 = pd.read_csv(file2019, delimiter=';')
d20 = pd.read_csv(file2020, delimiter=';')
d21 = pd.read_csv(file2021, delimiter=';')

In [134]:
d17 = d17.drop_duplicates()
d18 = d18.drop_duplicates()
d19 = d19.drop_duplicates()
d20 = d20.drop_duplicates()
d21 = d21.drop_duplicates()

In [135]:

def processTotal(file, date):
    datas = pd.read_csv(file, delimiter=';')
    datas.drop_duplicates()
    datas = datas.iloc[:, 0:7]
    datas.columns = ['Num', 'Area', 'Direction', 'Uso', 'Vehicule', 'Juridique','Energie']
    datas['Energie'] = datas['Energie'].replace(['EL�CTRICO','GASOLINA / HIBRIDO','EL�CTRICO / H�BRIDO'],['ELÉCTRICO','GASOLINA/HIBRIDO','ELÉCTRICO / HÍBRIDO'])
    datas['Energie'] = datas['Energie'].replace(['DIESEL '],['DIESEL'])
    datas['Date'] = date
    
    return datas


def fusionDF(df1, df2, df3, df4, df5):
    datas = pd.concat([df1, df2, df3, df4, df5], ignore_index=True)
    return datas

In [136]:
d17 = processTotal(file2017, '2017')
d18 = processTotal(file2018, '2018')
d19 = processTotal(file2019, '2019')
d20 = processTotal(file2020, '2020')
d21 = processTotal(file2021, '2021')




total = fusionDF(d17,d18,d19,d20,d21)
total.head()

,Num,Area,Direction,Uso,Vehicule,Juridique,Energie,Date
0,8182,"AREA DE GOBIERNO DE SALUD, SEGURIDAD Y EMERGE...",D.G. EMERGENCIAS Y PROTECCI�N CIVIL,OPERATIVO,AMBULANCIA,RENTING,DIESEL,2017
1,6343,"AREA DE GOBIERNO DE SALUD, SEGURIDAD Y EMERGE...",D.G. DE LA POLICIA MUNICIPAL,OPERATIVO,TURISMO,RENTING,GASOLINA,2017
2,2771,AREA DE GOBIERNO DE MEDIO AMBIENTE Y MOVILIDAD,D.G. DE GESTI�N Y VIGILANCIA DE LA CIRCULACI�N,OPERATIVO,MOTO,PROPIEDAD,GASOLINA,2017
3,2825,"AREA DE GOBIERNO DE SALUD, SEGURIDAD Y EMERGE...",D.G. DE LA POLICIA MUNICIPAL,OPERATIVO,FURGONETA,PROPIEDAD,DIESEL,2017
4,2035,"AREA DE GOBIERNO DE SALUD, SEGURIDAD Y EMERGE...","S.G.T. DE SALUD, SEGURIDAD Y EMERGENCIAS",ADMINISTRATIVO,TURISMO,RENTING,GASOLINA/HIBRIDO,2017

In [137]:
group=total.groupby(["Energie", "Date"])['Num']
test = group.size().reset_index(name='counts')
test.head()

     Energie  Date  counts
0     DIESEL  2017     868
1     DIESEL  2018     725
2     DIESEL  2019     693
3     DIESEL  2020     674
4  DIESEL     2021     679

In [144]:
groupUso21=total.groupby(["Vehicule", "Energie", 'Date'])['Num']
dataUso21 = groupUso21.size().reset_index(name='counts')

dataUso21

       Vehicule           Energie  Date  counts
0    AMBULANCIA            DIESEL  2017     113
1    AMBULANCIA            DIESEL  2018     110
2    AMBULANCIA            DIESEL  2019     126
3    AMBULANCIA            DIESEL  2020     107
4    AMBULANCIA         DIESEL     2021     107
..          ...               ...   ...     ...
124     turismo         ELÉCTRICO  2019      25
125     turismo         ELÉCTRICO  2020      25
126     turismo    GASOLINA / GLP  2019      14
127     turismo    GASOLINA / GLP  2020      14
128     turismo  GASOLINA/HIBRIDO  2020       7

[129 rows x 4 columns]